<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Trassir SDK</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>
    <main>
      <div class="card">
        <div class="card-header">
          Сервер: {{ server_name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">CPU usage</h5>
          <p class="card-text">
            {% if error %}
              {{ error }}!</p>
            {% else %}
              По состоянию на {{ now }} сервер {{ server_name }} использует процессор на {{ cpu_usage }}%.</p>
            {% endif %}
          <a href="{% url 'index' %}" class="btn btn-primary">Обновить данные</a>
        </div>
      </div>
    </main>
  </body>

</html>